{
  "env": {
    "node": true,
    "jest": true
  },
  "plugins": ["node", "jest", "babel"],
  "extends": ["eslint:recommended", "airbnb-base"],
  "parser": "babel-eslint",
  "rules": {
    "class-methods-use-this": "off"
  }
}
